  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="orange-text">Laboratory Bio</h5>
          <p class="grey-text text-lighten-4">The lab was founded around the need to support the growing XR industry in the state of Idaho. A function of the lab is to facilitate the design and development of tools and techniqures to empirically evaluate the design choices available in XR devleopment while also empirically evaluating those technologies currently in place today.</p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="orange-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.isu.edu">Idaho State University</a></li>
            <li><a class="white-text" href="https://cs.isu.edu">Computer Science @ ISU</a></li>
            <li><a class="white-text" href="https://www2.cose.isu.edu/~grifisaa/">Professor Griffith's Page</a></li>
            <!-- <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
</footer>
